/*sets margin at top of page to 0 */
*{
  margin: 0;
}

body{
  background-color: grey;
}

/*Dropdown menu and title div */
.app_header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
  /*border: 1px solid black;*/
}

.app_stats {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
}

.title, .infoBox_cases {
  color: #66FCF1;
}

.author {
  text-indent: 57%;  
}

.infoBox {
  padding: 0px;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 700px){
  .app{
    flex-direction: column;
  }
}

.app_left {
  flex: .9;
}

.graph {
  padding: 50px;
}

.app_dropdown{
  color: #66FCF1
}

.table_title, .graph_title{
  color: #66FCF1
}

.table{
  margin-bottom: 15px;
}



